$sandyRose: #EEE5DC;
$mutedSteel: #635E5E;

$largeMargin: 30px;
$baseMargin: 10px;

$h1FontSize: 25px;
$h2FontSize: 23px;
$menuFontSize: 25px;

$desktopWidth: 830px;

body {
    font-family: 'Cormorant Garamond', sans-serif;
    background-color: $sandyRose;
    font-size: 3.7vw;
} 

.linkText {
    text-decoration: none;
    color: black;
    padding-right: 30px;
    padding-bottom: -50px;
    line-height: -1vw;
}

.linkText:hover {
    background-color: black;
    color: $sandyRose;
}

.italic {
    font-style: italic;
}

.container {
    margin: 0 4vw;
    margin-top: $largeMargin;
}

h1, h2, h3 {
    font-weight: bold;
}

p, h2, ul {
    margin-top: $baseMargin;
}

h1 {
    font-size: $h1FontSize;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3.5vw;
}

// about
$aboutImgHeightMbl: 550px;
$aboutImgWidthMbl: 400px;

$aboutImgHeightDsktp: 750px;
$aboutImgWidthDsktop: 600px;

#aboutImage {
    width: $aboutImgWidthMbl;
    height: $aboutImgHeightMbl;
    object-fit: cover;
    position: absolute;
    right: 0;
}

#aboutTextCon {
    display: block;
    position: absolute;
    margin-top: $aboutImgHeightMbl;
    width: $aboutImgWidthMbl;
}

// hr 
.left {
    width: 100vw;
    margin-left: 20vw;
}

.right {
    width: 100vw;
    margin-left: -20vw;
}

// footer
footer {
    margin-top: 20px;
    background-color: $sandyRose;
    height: 30px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    margin-left: 2vw;
    font-size: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.rightFooter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    a {
        text-decoration: none;
        color: black;
        cursor: unset;
        margin-right: 5px;
    }
    i {
        cursor: pointer;
    }
    .linkText {
        margin-right: 1px;
    }
}

// registration + login forms
.overlayCon {
    position: relative;

    form {
        margin-top: -20px;
    }

    .loginImage {
        margin-left: 20px;
        margin-top: 10px;
        width: 60vw;
        height: 70vh;
        object-fit: cover;
        /* height: 100px; */
    }

    .registerCon, .overlay {
        margin-left: calc(15px + 45vw);
    }
    
    .registerCon {
       margin-bottom: 40px;
       font-size: 30px;
       width: 50vw;
    }

    .registrationForm input[type=text], .registrationForm input[type=password] {
        border-left: solid 1px black;
        border-bottom: solid 1px black;
    }

    .registrationForm input[type=submit] {
        padding-right: 6vw;
    }
    
    .overlay {
        position: absolute;
        margin-top: -60vh;

        .overlayText {
            font-size: 10vw;
            margin-bottom: 6vw;
            color: $sandyRose;
            border-bottom: 1vw $sandyRose solid;
        }
    
        input {
            margin-bottom: 10px;
            border: none;
            padding: 5px;
            background-color: $sandyRose; 
        }

        input[type=submit] {
            cursor: pointer;
            font-family: 'Cormorant Garamond', sans-serif;
        }
        
        input[type=submit]:hover {
            background-color: black;
            color: $sandyRose;
        }

        .contrast {
            color: black;
            // margin-bottom: 5vw;
            /* margin-left: -5px; */
            border-bottom: 1vw black solid; 
        }
    }

    .overlay.register {
        margin-top: -60vh;
        margin-left: calc(15px + 44vw); 
    }
    
  
}


// desktop 
@media screen and (min-width: $desktopWidth) {
    body {
        font-size: 28px;
    }

    h1 {
        font-size: 42px;
    }
 
    h2 {
        font-size: 38px;
    }
 
    #aboutImage {
        width: $aboutImgWidthDsktop;
        height: $aboutImgHeightDsktp;
        right: 5vw;
    }
 
    #aboutTextCon {
        display: block;
        position: absolute;
        margin-top: $aboutImgHeightDsktp / 4;
        width: $aboutImgWidthDsktop / 1.5;
        margin-left: 30%;
        hr {
            margin-left: 2px;
            width: $aboutImgWidthDsktop / 1.5;
        }
    }
    // register + login 
    .overlay.register {
        form {
            margin-left: 18vw;
        }
    }
}