<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  
  <body>
    <img src="static/about.jpg" alt="" id="aboutImage">
    <div id="aboutTextCon">
      <p>
        The Arch Gathering, is a digital publication celebrating beautiful architecture. Architectural pieces, as well as architects’ biographies, are posted as a reference for architects and an educational medium for architecture enthusiasts.
      </p>
      <hr class="right">
    </div>
  </body>
</html>